.bandera{
    height: 200px;
    width: 350px;
    background-color: #003087;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.superior{
    height: 75px;
    width: 350px;
    background-color: #C8102E;
}

.superior-iz{
height: 75px;
width: 100px;
background-color: #c8102E;
}

.superior-der{

}

.inferior{
    height: 75px;
    width: 350px;

    background-color: brown;
}

