/* Utilidades */
.container{
    display: flex;
    flex-direction: column; /* orienta la organización en columna */
    align-items: center; /* alinear itimes centro */
    padding: 0px 100px 0px 100px;
}

.text_space{
    margin-bottom: 6px;
}

/* Barra de navegación */
.navbar{
    background-color: #6495ED;
    height: 80px;
    width: 1200px;
    display: flex; /* esta propiedad es la que da flexibilidad a la caja */
    justify-content: space-between; /* propiedad que justifica el contenido con espacio entre elementos */
}

.navbar__logo{
    height: 100%; /* porcentaje del total de lugar en donde se contiene esta etiqueta que es la clase navbar */
    width: 100px;
    display: flex;
    justify-content: space-between;
}

.navbar__logo img{
    height: 100%;
    width: 150px;

}

.navbar__links{
    height: 100%;
    width: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 100px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    color: 	#000000;
}

.img {
    height: 50%;
    width: 200px;
}


a{
    text-decoration: none;
    font-size: small;
    font-weight: bolder;
    font-family: 'Open Sans', sans-serif;
}

/* Hero */

.hero{
height: 200px;
width: 1200px;
display: flex;
justify-content: space-between;
padding-right: 150px;
}

.hero_photo{
width: 40%;
height: 100%;
display: flex;
justify-content: center;
align-items: center;
}

.hero_photo img {
    height: 90%;
    border-radius: 10%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.hero_text{
width: 60%;
height: 100%;
display: flex;
flex-direction: column;
justify-content: center;
font-family: 'Open Sans', sans-serif;
font-weight: 500;
color: 	#0f2896;
}

.hero_text h2{
    color: 	#061f91;
    margin-bottom: 12px;
    font-size: 4em;
    height: 800;
}

.hero_text h1{
    display: flex;
    flex-direction: column;
}

.hero_text .tittle{
color: rgb(131, 131, 173);
font-size: 2em;
height: 500;

}

.hero_text .tittle_dark{
    color: rgb(81, 81, 202);   
    font-size: 2em;
    height: 500;
}

/* ___Falta arregar el border radius___ */
.hero_text button{
background-color: rgb(81, 81, 247);
height: 3em;
width: 175px;
color: white;
font-size: 0.75em;
text-transform: uppercase; /* Text transform modifica el texto (uppercase es mayúsculas) */


}

/* Media Queris */

